:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

.top-header-push {
  height: 3.75rem;
}

.brand {
  line-height: 3.75em;
  position: relative;
  color: #00BFFF;
}

.outlet-wrapper {
  height: 100%;
}

.top-header {
  height: 3.75rem; 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

.top-header dl {
  color: #00BFFF;
}

.top-header .offset {
  color: #9932CC;
}

.top-header .contribute {
  background-color: #9932CC;
  color: #800080;
  text-decoration: line-through;
  opacity: .6;
}

.top-header .coming-soon {
  font-size: small;
  color: #ADD8E6;
  display: inline-block;
  padding-left: 1em;
  letter-spacing: .15em;
}

.top-header .donate {
  background-color: #9932CC;
  color: #800080;
}

.sidebar {
  min-width: 20%;
}

.sidebar nav {
  position: fixed;
  width: 19%;
}

.sidebar a {
  color: #00BFFF;
}

footer {
  background-color: black;
}

footer .heading {
  color: #AD62ED;
}

footer ul {
  color: #9932CC;
}

footer .copyright {
  color: #9932CC;
}
