<div class="top-header px-4 flex flex-row justify-between">
  <p class="brand font-semibold"><a href="https://github.com/kisscorp/forged">forged <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></p>
  <div>
    <dl class="flex items-center h-full">
      <dt>Emissions:</dt>
      <dt class="mr-6 ml-1">~</dt>
      <dt class="offset">Offset:</dt>
      <dt class="mr-6 ml-1 offset">~</dt>
      <dt>Remaining:</dt>
      <dt class="ml-1 mr-6">~</dt>
      <dt>
        <button class="hover:bg-gray-100 font-semibold py-2 px-4 rounded shadow contribute">
          Contribute
        </button>
        <span class="coming-soon">coming soon</span>
      </dt>
    </dl>
  </div>
  <div>
  </div>
    <div class="flex items-center h-full">
      <a class="brand text-slate-600 font-medium tracking-wide hover:text-emerald-700 mr-6" href="https://rtc.eco">a Roll The Cloud Inc. initiative <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a>
      <button class="hover:bg-gray-100 font-semibold py-2 px-4 rounded shadow donate" zeffy-form-link="https://www.zeffy.com/en-US/embed/donation-form/037136eb-a735-4cbb-8952-356f978b2972?modal=true">Donate</button>
    </div>
</div>
<div class="top-header-push"></div>
<div class="flex-1">
  <div class="outlet-wrapper flex flex-row">
    <div class="px-2 py-2 sidebar">
      <nav>
        <ul class="text-slate-600">
          <li><a class="px-2 py-2 flex" routerLink="/">Welcome</a></li>
          <li><a class="px-2 py-2 flex" routerLink="/lasagne">Lasagne</a></li>
          <li><a class="px-2 py-2 flex" routerLink="/consulting">Consulting</a></li>
          <li><a class="px-2 py-2 flex" routerLink="/resume">Resume</a></li>
          <li><a class="px-2 py-2 flex" routerLink="/stream">Live Stream</a></li>
          <li><a class="px-2 py-2 flex" routerLink="/challenge">Challenge</a></li>
        </ul>
      </nav>
    </div>
    <div class="px-4 py-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="py-10 px-16">
  <div class="grid grid-cols-3">
    <div>
      <div class="font-medium tracking-wide pb-4 heading">Support</div>
      <ul class="space-y-1.5">
        <li><button class="text-sm font-light tracking-wide hover:text-white hover:underline donate" zeffy-form-link="https://www.zeffy.com/en-US/embed/donation-form/037136eb-a735-4cbb-8952-356f978b2972?modal=true">Donate <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></button></li>
        <li><a class="text-sm font-light tracking-wide hover:text-white hover:underline" href="https://www.bonfire.com/store/impact-earth/">Apparel <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
      </ul>
    </div>
    <div>
      <div class="font-medium tracking-wide pb-4 heading">LEGAL</div>
      <ul class="space-y-1.5">
        <li><a class="text-sm font-light tracking-wide hover:text-white hover:underline" href="#">Trademark Policy <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
        <li><a class="text-sm font-light tracking-wide hover:text-white hover:underline" href="#">Terms & Privary Policy <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
      </ul>
    </div>
    <div>
      <div class="font-medium tracking-wide pb-4 heading">Social</div>
      <ul class="space-y-1.5">
        <li><a class="text-sm font-light tracking-wide hover:text-white hover:underline" href="https://twitter.com/rollthecloud">Twiiter <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
        <li><a class="text-sm font-light tracking-wide hover:text-white hover:underline" href="https://facebook.com/rollthecloud">Facebook <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
      </ul>
    </div>
  </div>
  <p class="text-center mt-8 text-sm font-thin tracking-wide copyright">Copyright &copy; 2024 ROLL THE CLOUD INC. US registered 501(c)3 charity</p>
</footer>
