<h2 mat-dialog-title>Support Our Cause and Join Our Eco-Friendly Journey!</h2>
<mat-dialog-content>
<div class="prose">
  <p>At ROLL THE CLOUD INC., we're committed to creating a sustainable future, and we need your help to make our vision a reality. We use technology, community engagement, and awareness campaigns to make a real-world impact. But we're more than just a charity. We're a community of eco-conscious individuals, and we want to invite you to be a part of it.</p>
  <p>By making a donation, you will not only be contributing to our ongoing initiatives - from developing earth-friendly software tools to fostering community gardens - but also supporting our unique interactive live streams. Our founder shares his daily life activities, focusing on eco-friendly cooking and art related to our mission. Through these streams, we've built a collection of climate-conscious recipes and art, all of which are shared on our dedicated website.</p>
  <p>As a token of appreciation for your support, we are excited to offer donors exclusive access to our AI tool, which powers our eco-friendly recipe creation. This unique tool incorporates AI technology to help you create your own environmentally-friendly meals at home.</p>
  <p>Your donation will help us continue our work, expand our reach, and educate more people about the importance of climate awareness. Join us in our mission to roll the cloud towards a sustainable future. Every contribution makes a difference.</p>
  <p>Thank you for your support!</p>
</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="text-sm font-light tracking-wide hover:text-white hover:underline donate" mat-dialog-close zeffy-form-link="https://www.zeffy.com/en-US/embed/donation-form/e66cca27-484b-40f5-833e-ce58d7fe8720?modal=true">Continue <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></button>
</mat-dialog-actions>